# Based on: https://github.com/Zeblote/PhysX/commit/d6b1ca1abcd13a5af0e70a656279d6450326586c
# Thank you Zeblote

# Ignore all the project files, except for the global cmake rules
/physx/compiler/*
!/physx/compiler/public/

# Ignore the binaries
/physx/bin/*

